.header {
    padding: 21px 0 20px 0;
    border-bottom: 1px solid #E6E6E6;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 30px;
    }

    &__logo {
        margin-right: auto;
    }
    // &__search {
    //     margin-right: 30px;
    // }

}


